@model Postback.Blog.Models.ViewModels.PagingView
<div class="pagination">
    <ul>
        @foreach (var item in Model.Items)
        { 
            <li><a href="@item.Uri">@item.Label</a></li>
        }
    </ul>
</div>