@model Postback.Blog.Areas.Admin.Models.UserEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("edit", "user", FormMethod.Post, new {@class="form-horizontal" }))
{
    @Html.EditorForModel()
    <div class="control-group">
        <div class="controls">
        <input type="submit" value="Save" class="btn btn-primary"/> @Html.ActionLink("Back to list", "index", null, new { @class = "btn" })
        </div>
    </div>
}