@{
    ViewBag.Title = "Oepsie doepsie — ";
    Layout = "../Shared/_Layout.cshtml";
}

<section>
<article>
        <header>
            <h1>Dit is dus een probleem</h1>
            <p>De blog of enig welk artikel dan ook, is verhuisd. Dus wat je nu leest, dat komt omdat je een oude link hebt gevolgd. Het beste wat je kan doen is <a href="/">naar de huidige homepage gaan</a>.</p>
    </article>
</section>