/* tiny reset */
h1, h2, h3, h4, h5, p, li, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body{
    margin: 0 auto;
    width: 900px;
    font-family: Georgia, Serif;
    color: #333;
    background: #fff;
    font-size: 16px;
}

a {
    color: #990000;
    text-decoration: none;
}

#main {
    font-size: 16px;
    line-height: 24px;
}

#accouncement{
    margin-top: 6px;
    border-bottom: 1px solid #444;
    color: #444;
    padding: 6px 12px;
    text-align: center;
}

#title {
    padding: 36px 0;
    font-size: 54px;
    color: #333;
}

#title a {
    color: #333;
}

h2, article header h1 {
    font-size: 54px;
    line-height: 54px;
}

#title a:hover, article h2 a:hover {
    color: #990000;
}

nav {
    background: #fff;
    border-right: 1px solid #666;
    margin-left: -148px;
    padding: 36px 12px;
    position: fixed;
    top: 0;
    width: 100px;
}

nav a {
    color: #666;
}

article header {
   border-left: #666 solid 1px;
   margin-left: -24px;
   padding-left: 24px;
}

article p {
    margin-bottom: 24px;
}

article p:last-child {
    margin: 0;
}

article p a {
    text-decoration: underline;
}

section {
    margin: 24px 0;
}

article {
    margin: 0 0 36px 0;
    position: relative;
}

article img{
    float: right !important;
    padding: 0 0 6px 6px !important;
    margin: 0px !important;
}

time {
    position: absolute;
    left: 924px;
    color: #666;
    font-size: 12px;
    border-left: #666 solid 1px;
    padding-left: 24px;
    width: 120px;
    top: 0px;
}

footer {
    position: absolute;
    top: 24px;
    left: 924px;
    border-left: #666 solid 1px;
    padding-left: 24px;
    width: 120px;
    text-transform: lowercase;
    font-size: 12px;
}

.tags {
    
}

.tags li {
    display: inline;
}

footer a {
    text-decoration: underline;
}

.pagination li {
    display: inline;
}

@media screen and (max-width:900px) {
    footer, time, nav{
        width: 95%;
    }

    body{
        width: 95%;
    }

    .page{
        width: 100%;
    }

    article img, iframe, object{
        max-width: 100%;
        height: auto;
    }

    article img{
        float: none !important;
        display: block !important;
        clear: both !important;
        padding: 0 !important;
        margin: 0 0 6px 0 !important;
        width: 100% !important;
        height: auto !important;
    }

    #title {
        padding: 6px 0;
        font-size: 54px;
        color: #333;
    }

    #accouncement{
        margin-top: 6px;
        border-bottom: 1px solid #aaa;
        color: #aaa;
        padding: 6px 6px;
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width:1240px) {
    footer, time{
        position: relative;
    }

    time{
        left: -25px;
        width: auto;
    }

    footer{
        border:none;
        left: 0;
        top: 0;
        padding-left:0px;
        width: auto;
        margin-bottom:48px;
    }

    nav{
        position: relative;
        border: none;
        padding: 0px;
        margin: 0px;
        width: auto;
    }

    footer ul, footer ul li{
        display: inline;
    }

    footer .tags{
        margin-left:24px;
        padding-left:24px;
        border-left: #666 solid 1px;
    }
}