<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" />
  <package id="nbehave.spec.nunit" version="0.5.1.263" />
  <package id="NoRM" version="0.9.8" />
  <package id="NUnit" version="2.6.1" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="structuremap" version="2.6.4.1" />
  <package id="StructureMap.MVC3" version="1.0.8" />
  <package id="StructureMap-MVC3" version="1.0.8" />
  <package id="WebActivator" version="1.5.1" />
</packages>